.button {
  width: 200px;
  padding: 10px 20px;
  border: 1px solid #343a40;
  border-radius: 5px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: transparent;
  }
}

.light {
  background-color: #b4b7ba;
  color: #000;
}

.dark {
  background-color: #343a40;
  color: #fff;
}

.active {
  background-color: #64a6ed;
  color: white;
  border-color: #64a6ed;
}
